# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ambientes virtuais
venv/
.venv/
env/

# Arquivos de sistema e logs
.DS_Store
*.log
.vscode/

# Pasta de modelos (opcional, se forem muito grandes)
# models/*.joblib